[Desktop Entry]
Version=1.0
Name=Chrome
Comment=Chrome
Exec=google-chrome --no-sandbox --user-data-dir https://itt:9443/itt/
Terminal=false
Icon=browser
Type=Application
Path=/home/qa/Desktop
