PostgreSQLPath=/usr/bin
EnterpriseDBPath=
GreenplumDBPath=
PostgreSQLHelpPath=http://www.postgresql.org/docs/current/static/
EnterpriseDBHelpPath=http://www.enterprisedb.com/docs/en/current/server/
GreenplumDBHelpPath=http://www.greenplum.com/docs/3300/
SlonyHelpPath=http://www.slony.info/documentation/
LastDatabase=postgres
LastPort=5432
LastSSL=-1
LastUsername=postgres
[frmHint]
Left=430
Top=133
Width=570
Height=408
[Updates]
pgsql-Versions=9.3
[Servers]
Count=1
[Servers/1]
Server=pg
HostAddr=
Description=Postgres
Service=
ServiceID=
DiscoveryID=
Port=5432
StorePwd=true
Rolename=
Restore=true
Database=postgres
Username=postgres
LastDatabase=ITT
LastSchema=itt
DbRestriction=
Colour=#FFFFFF
SSL=-1
Group=Servers
SSLCert=
SSLKey=
SSLRootCert=
SSLCrl=
SSLCompression=true
SSHTunnel=false
TunnelHost=
TunnelUserName=
TunnelModePwd=true
PublicKeyFile=
IdentityFile=
[Servers/1/Databases]
[Servers/1/Databases/ITT]
SchemaRestriction=
[Servers/1/Databases/ITTMessage]
SchemaRestriction=
[Servers/1/Databases/ITTSecurity]
SchemaRestriction=
[Servers/1/Databases/postgres]
SchemaRestriction=
[Properties]
[Properties/Server]
Left=162
Top=99
Width=525
Height=452
[frmEditGrid]
Perspective-8189=layout2|name=toolBar;caption=Tool bar;state=16788208;dir=1;layer=10;row=0;pos=0;prop=100000;bestw=305;besth=30;minw=-1;minh=-1;maxw=-1;maxh=-1;floatx=-1;floaty=-1;floatw=-1;floath=-1|name=limitBar;caption=Limit bar;state=16788208;dir=1;layer=10;row=0;pos=316;prop=100000;bestw=120;besth=30;minw=-1;minh=-1;maxw=-1;maxh=-1;floatx=415;floaty=793;floatw=-1;floath=-1|name=sqlGrid;caption=Data grid;state=1020;dir=5;layer=0;row=0;pos=0;prop=100000;bestw=300;besth=200;minw=200;minh=100;maxw=-1;maxh=-1;floatx=-1;floaty=-1;floatw=-1;floath=-1|name=scratchPad;caption=Scratch pad;state=16779260;dir=3;layer=0;row=0;pos=0;prop=100000;bestw=300;besth=150;minw=200;minh=100;maxw=-1;maxh=-1;floatx=347;floaty=725;floatw=-1;floath=-1|dock_size(1,10,0)=32|dock_size(5,0,0)=202|dock_size(3,0,0)=173|
Left=340
Top=137
Width=600
Height=500
Maximized=false
[frmPgpassConfig]
Left=194
Top=128
Width=650
Height=300
Maximized=false
[frmPgpassConfig/RecentFiles]
1=
2=
3=
4=
5=
6=
7=
8=
9=
[frmHbaConfig]
Left=111
Top=276
Width=650
Height=300
Maximized=false
[frmHbaConfig/RecentFiles]
1=
2=
3=
4=
5=
6=
7=
8=
9=
[frmMainConfig]
Left=50
Top=50
Width=600
Height=600
Maximized=false
[frmMainConfig/RecentFiles]
1=
2=
3=
4=
5=
6=
7=
8=
9=
[frmMain]
Perspective-8418=layout2|name=objectBrowser;caption=Object browser;state=16795644;dir=4;layer=1;row=0;pos=0;prop=100000;bestw=200;besth=450;minw=100;minh=200;maxw=-1;maxh=-1;floatx=236;floaty=222;floatw=-1;floath=-1|name=listViews;caption=Info pane;state=1020;dir=5;layer=0;row=0;pos=0;prop=100000;bestw=400;besth=200;minw=200;minh=100;maxw=-1;maxh=-1;floatx=-1;floaty=-1;floatw=-1;floath=-1|name=sqlPane;caption=SQL pane;state=16779260;dir=3;layer=0;row=0;pos=0;prop=100000;bestw=400;besth=200;minw=200;minh=100;maxw=-1;maxh=-1;floatx=-1;floaty=-1;floatw=-1;floath=-1|name=toolBar;caption=Tool bar;state=16788208;dir=1;layer=10;row=0;pos=0;prop=100000;bestw=586;besth=44;minw=-1;minh=-1;maxw=-1;maxh=-1;floatx=-1;floaty=-1;floatw=-1;floath=-1|dock_size(5,0,0)=202|dock_size(3,0,0)=228|dock_size(1,10,0)=46|dock_size(4,1,0)=367|
Left=218
Top=18
Width=994
Height=638
Maximized=false
