[Desktop Entry]
Version=1.0
Name=Soap UI
Comment=SOAP UI
Exec=/home/qa/soapui/bin/soapui.sh
Terminal=false
Icon=openjdk-7
Type=Application
Path=/home/qa/soapui/
